/* style.css */

body {
    background-color: #232C33;
    color: white;
  }
  
  .ql-editor {
    height: 150px;
  }
  
  .quill-editor {
    height: 150px;
  }
  
  .lightbox {
    max-width: 400px;
    height: auto;
  }
  
  .navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    /* Use 'flex' instead of 'display: flex' */
    flex-direction: row; /* Set the background of the .navbar to transparent */
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    border-bottom-left-radius: 15px; /* Add rounded corners to the navbar */
    border-bottom-right-radius: 15px;
    height: 55px; /* Set the height of the navbar as needed */ /* Adjust the path to your navbar background image */
    background-size: cover; /* Scale the background image to cover the navbar */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center ; /* Center the background image */
}
  
  .navbar-brand img {
    padding-left: 10px;
  }
  
  .carousel-inner img {
    max-width: 300px;
    /* Set the maximum width for the images */
    max-height: 200px;
    /* Set the maximum height for the images */
    margin: auto;
    /* Center the images horizontally within the carousel */
    display: block;
    /* Ensure the images are displayed as block elements */
}

/* Adjust the carousel container size */
#photoCarousel {
    max-width: 600px;
    /* Set the maximum width for the carousel container */
    margin: 0 auto;
    /* Center the carousel horizontally on the page */
    padding: 10px;
    /* Optional: Add some padding to the carousel container */
}