.login-box {
  position: relative;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h1 {
  margin-bottom:15px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box button {
  position: relative;
  margin-bottom: 10px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.login-box button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.login-box button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.login-box button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.login-box button:hover::before,
.login-box button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.login-box button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.login-box button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}




.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

@media (max-width: 768px) {
  .login-box {
    width: 100%
  }
  
.calendar th,
.calendar td {
            width: 14.28%; /* Equal width for each column (7 columns in total) */
            padding: 1px;
            font-size: smaller;
        }
      }

.logg {
  margin-top: 8rem;
}

.calendar td:not(:empty) {
  transition: background-color 0.3s ease; /* Transition background-color over 0.3 seconds with ease-in-out timing */
  border-radius: 50px; /* Add rounded corners */
}

.calendar td:not(:empty):hover {
  background-color: #f9f9f9; /* New background color on hover */
  color: black
}

.calendar mark#yellow:not(:empty)  {
  background-color: yellow; /* Set the background color to the desired highlight color */
  border-radius: 5px; /* Adjust the border radius to control the roundness */
  padding: 2px 5px; /* Add padding to control the spacing around the highlighted text */
  opacity: 0.90;
}

.calendar mark#gray:not(:empty)  {
  background-color: #d0cdcd; /* Set the background color to the desired highlight color */
  border-radius: 5px; /* Adjust the border radius to control the roundness */
  padding: 2px 5px; /* Add padding to control the spacing around the highlighted text */
  opacity: 0.50;
}
.calendar td:hover mark#gray:not(:empty) {
  background-color: #f9f9f9; /* New background color on hover */
  color: black;
}

.calendar td:hover mark#yellow:not(:empty) {
  background-color: #f9f9f9; /* New background color on hover */
  color: black;
}


[aria-label][tooltip-position] {
  position: relative;
  letter-spacing: 0.1rem;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
  --scale: 0;
  position: absolute;
  font-size: 1rem;
  transition: transform 200ms;
  transition-timing-function: linear;
}

[aria-label][tooltip-position]:hover::before,
[aria-label][tooltip-position]:hover::after {
  --scale: 1;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
}

[aria-label][tooltip-position]::before {
  content: attr(aria-label);
  background-color: var(--tooltip-color);
  padding: 0.5em;
  border-radius: 0.3em;
  width: max-content;
  max-width: 150px;
  text-align: center;
  transform: scale(0);
  z-index: 1000;
}

[aria-label][tooltip-position]::after {
  content: "";
  border: var(--arrow-size) solid transparent;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
  --tooltip-color: #d8d8d8;
  --arrow-size: 0.5rem;
  --scale: 0;

  z-index: 1000;
  font-size: 1rem;
  transform: translate(var(--translate-x), var(--translate-y))
    scale(var(--scale));
}
[aria-label][tooltip-position="top"]::before {
  position: absolute;
  --translate-x: -50%;
  --translate-y: calc(-100% - var(--arrow-size));
  top: 0px;
  left: 50%;
  transform-origin: bottom center;
}

[aria-label][tooltip-position="top"]::after {
  --translate-x: -50%;
  --translate-y: calc(-1 * var(--arrow-size));
  top: 0px;
  left: 50%;
  border-top-color: var(--tooltip-color);
  transform-origin: bottom center;
}


.btntg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btntg a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-decoration: none;
  border-radius: 4px;
  padding: 15px 20px;
}

.btntg a.btn-0 {
  background: #2AABEE;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(25, 95, 110, 0.6);
  transition: all .3s ease;
}

.btntg a.btn-0:hover {
  background: #1c89bc;
  border-color: rgba(0, 0, 0, 0.9);
  transition: all .3s ease;

}

.btntg a img {
  filter: invert(15%) sepia(0%) saturate(1%) hue-rotate(27deg) brightness(114%) contrast(95%);
}

