{% extends "base.html" %}
{% block content %}
  {% if messages %}
    <ul class="messages" align="right">
      {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="login-box">
    <h1>Логін</h1>
    <form method="post">
      {% csrf_token %}
      <div class="user-box">
        {{ login_form.username }}
        <label>Емейл</label>
      </div>
      <div class="user-box">
        {{ login_form.password }}
        <label>Пароль</label>
      </div>
      <center>
        <button class="login button" type="submit">Увійти</button>
      </center>
    </form>
    <p class="text-center">
      Нема аккаунту? <a href="{% url 'user:register' %}">Зареєструватися</a>.
    </p>
  </div>
{% endblock content %}
