{% extends "base.html" %}

{% block content %}      

<div class="container py-5">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {{ login_form.as_p }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'user:register' %}">Create an account</a>.</p>
</div>

{% endblock content %}