{% extends "base.html" %}
{% block content %}
  {% if messages %}
    <ul class="messages" align="right">
      {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="login-box">
    <h1>Реєстрація</h1>
    <form method="post">
      {% csrf_token %}
      <div class="user-box">
        {{ register_form.email }}
        <label>Емейл</label>
      </div>
      <div class="user-box">
        {{ register_form.password1 }}
        <label>Пароль</label>
      </div>
      <div class="user-box">
        {{ register_form.password2 }}
        <label>Підтвердіть пароль</label>
      </div>
      <center>
        <button class="login button" type="submit">Зареєструватися</button>
      </center>
    </form>
    <p class="text-center">
      Якщо в вас вже є аккаунт,  <a href="{% url 'user:login' %}">увійдіть в нього</a>
    </p>
  </div>
{% endblock content %}
