<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="navbar">
        <a class="navbar-brand" href="{% url 'main:home' %}">
            <img src="/media/logo.png"
                 alt="{{ photo.caption }}"
                 class="img-fluid"
                 width="50"
                 height="50">
        </a>
        <button class="navbar-toggler justify-content-center"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:home' %}">Додому</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:contact' %}">Контакти</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:schedule' %}"><b>РОЗКЛАД</b></a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:logout' %}">Вийти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:login' %}">Увійти</a>
                    </li>      
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
