<div class="container text-dark">
  <div class="wrapper">
    <div class="contact-card"></div>
    <img class="banner-image" src="https://cdn-icons-png.flaticon.com/512/32/32441.png" width="100px">
    <p>Групповой<p>
    <p>
      Конкуренция стимулирует <br />
      детей учится продуктивнее.
    </p>
    <div class="button-wrapper">
        <button class="btn outline">Написати</button>
      </div>
  </div>
  <div class="wrapper">
    <div class="contact-card"></div>
    <img class="banner-image" src="https://cdn-icons-png.flaticon.com/512/268/268546.png" width="100px">
    <p>Дуо<p>
    <p>
      Объединяют в себе плюсы <br />
      группового и индивидуального обучения.
    </p>
    <div class="button-wrapper">
        <button class="btn outline">Написати</button>
      </div>
  </div>
  <div class="wrapper">
    <div class="contact-card"></div>
    <img class="banner-image" src="https://cdn-icons-png.flaticon.com/128/9743/9743387.png" width="100px">
    <p>Индивидуальный<p>
    <p>
      Дают учителю возможность <br />
      уделить больше внимания ребенку.
    </p>
    <div class="button-wrapper">
        <button class="btn outline">Написати</button>
      </div>
  </div>       
</div>
