
  <div class="container text-dark mb-5">
    <div class="row w-100">
    <div class="col-md-4 col-sm-12 p-3">
      <img class="banner-image" src="/media/group.png" width="100" />
      <p>Груповий</p>
      <p>
        Конкуренція стимулює. <br />
        дітей навчається продуктивніше.
      </p>
      <div class="button-wrapper">
        <button class="btn outline" data-toggle="modal" data-target="#contactModalGroup" data-subject="group">Написати</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <img class="banner-image" src="/media/duo.png" width="100" />
      <p>Дуо</p>
      <p>
        Поєднує у собі плюси <br />
        групового та індивідуального навчання.
      </p>
      <div class="button-wrapper">
        <button class="btn outline" data-toggle="modal" data-target="#contactModalDuo" data-subject="duo">Написати</button>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-3">
      <img class="banner-image" src="/media/solo.png" width="100" />
      <p>Індивідуальний</p>
      <p>
        Дають вчителю можливість <br />
        приділити більше уваги дитині
      </p>
      <div class="button-wrapper">
        <button class="btn outline" data-toggle="modal" data-target="#contactModalIndividual" data-subject="solo">Написати</button>
      </div>
    </div>
  </div>
</div>
