<div id="testimonial-slider" class="owl-carousel">
  <div class="testimonial">
    <div class="pic">
      <img src="https://picsum.photos/535/537" />
    </div>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dolorum earum fugiat, fugit hic id, ipsum laborum minus nostrum numquam perspiciatis saepe velit.</p>
    <div class="testimonial-profile">
      <h3 class="title">williamson-</h3>
      <span class="post">Web Developer</span>
    </div>
  </div>

  <div class="testimonial">
    <div class="pic">
      <img src="https://picsum.photos/535/536" />
    </div>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dolorum earum fugiat, fugit hic id, ipsum laborum minus nostrum numquam perspiciatis saepe velit.</p>
    <div class="testimonial-profile">
      <h3 class="title">Kristina-</h3>
      <span class="post">Web Designer</span>
    </div>
  </div>

  <div class="testimonial">
    <div class="pic">
      <img src="https://picsum.photos/535/535" />
    </div>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi dolorum earum fugiat, fugit hic id, ipsum laborum minus nostrum numquam perspiciatis saepe velit.</p>
    <div class="testimonial-profile">
      <h3 class="title">Steve Thomas-</h3>
      <span class="post">Web Developer</span>
    </div>
  </div>
</div>
