<div id="testimonial-slider" class="owl-carousel">
  <div class="testimonial">
    <div class="pic">
      <img src="/media/reviews/1.jpeg" />
    </div>
    <p class="description">Хочу подякувати викладачу Петру Андрійовичу. Це наш порятунок. Заняття конструктивні, доступні і легкі. Син із задоволенням відвідує заняття, ми дуже задоволені результатом.</p>
    <div class="testimonial-profile">
      <h3 class="title">Сашко</h3>
    </div>
  </div>

  <div class="testimonial">
    <div class="pic">
      <img src="/media/reviews/3.jpeg" />
    </div>
    <p class="description">Хочу висловити величезну вдячність Вам, як педагогу! Після кожного заняття Стас і Влад із задоволенням розповідали, що вони вивчали, які нові слова тепер знають, і з нетерпінням чекали наступного заняття! Дякую.</p>
    <div class="testimonial-profile">
      <h3 class="title">Влад і Стас</h3>
    </div>
  </div>

  <div class="testimonial">
    <div class="pic">
      <img src="/media/reviews/2.jpeg" />
    </div>
    <p class="description">Петя, хочу поблагодарить за знания моего сына. Мы очень ждали этой встречи!!! Благодарю тебя за то что ты даёшь прекрасные знания и желание изучать английский!!!!!</p>
    <div class="testimonial-profile">
      <h3 class="title">Дмитро </h3>
    </div>
  </div>
</div>
