<div class="row mb-5">
  <div class="col-md-4 mb-2">
    <div class="card bg-dark text-white text-center">
      <img alt="Teacher" src="/media/teachers/petya.jpg" class="card-img" width="auto" height="auto" />
      <div class="card-img-overlay d-flex flex-column justify-content-start">
        <h5 class="card-title">Петро</h5>
        <p class="card-text">Вітаю! Мене звати Петро і я засновник Parrot School. Вже декілька років я викладаю англійську дітям і майже рік як керую школою. За цей рік ми змінили декілька кабінетів, збільшили викладацький склад та зросли в декілька разів по кількості учнів. Я навчаюсь Харківському Економічному університеті повністю на англійській мові. Також, я декілька разів представляв Україну на конференціях в штаб-квартирах ООН в Женеві та Відні. Я та наша команда дуже цінуємо кожного учня, саме тому ми будуємо справжню сім’ю Parrot School.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card bg-dark text-white text-center">
      <img alt="Teacher" src="/media/teachers/katya.jpg" class="card-img" height="auto" width="auto" />
      <div class="card-img-overlay d-flex flex-column justify-content-start">
        <h5 class="card-title">Катерина</h5>
        <p class="card-text">Вітаю! Мене звати Катя і викладач в Parrot School. Я більше 4 років викладаю англійську дітям та дорослим, кожного дня я прищеплюю кохання до іноземної мови. Я навчаюсь в університеті ім. В. Н. Каразіна на спеціальності «Лінгвістика», ще з шкільних років я мрію пов’язати своє життя з дослідженням та вивченням англійської мови. Я дуже люблю проводити час з учням та намагаюся робити всі заняття максимально простими та цікавими. Я впевнена зі мною ви закохаєтесь у вивчення іноземної мови.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card bg-dark text-white text-center opacity-75">
      <img alt="Teacher" src="/media/teachers/hiring.png" class="card-img opacity-25" height="auto" width="auto" />
      <div class="card-img-overlay d-flex flex-column justify-content-start">
        <h5 class="card-title">Ми шукаємо вчителів!</h5>
        <p class="card-text">Якщо у вас є бажання випробувати себе у ролі вчителя у нашій школі, то <a style="color:inherit;" href="{% url 'main:contact' %}">напишіть нам!</a></p>
      </div>
    </div>
  </div>
</div>
